*{
    box-sizing: border-box;
}
body{
    margin: 0;
    line-height: 1.4em;
    font-family: 'roboto', sans-serif, serif;
}

.header{
    background: grey;
    padding: 20px;
    height: 400px;
    color: #FFF;
    z-index: 2;
    background:
            linear-gradient(to bottom, #000, #0008),
            center top / cover url("img/banniere-restaurant.jpg") fixed;
    /*background-image: ,
    background-size: cover;
    background-attachment: local,fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;*/

}

.header-title{
    text-align: center;
    margin: 0;
    font-weight: 100;
    font-style: italic;
    z-index: 4;
}

.header-navbar{
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
    background: rgba(255, 255, 255, 0.2);
}

.header-navbar a {
    float: left;
    width: 25%;
    color: inherit;
    text-decoration: none;
}

.header-navbar a:hover{
    background: rgba(255, 255, 255, 0.5);
}

.header img{
    position: relative;
    width: 100%;
}

.main{
    position: relative;
    background: lightgray;
    padding: 20px;
    z-index: 1;
}

.main p{
    text-align: justify;
    margin-bottom: 1.5em;
}

.button{
    padding: 0.4em 0.5em;
    text-align: center;
    background: lightpink;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
}

.footer{
    background: lightslategray;
    padding: 10px 20px;
}

.alignleft{
    float: left;
    margin-right: 15px;
}

.alignright{
    float: right;
    margin-left: 15px;
}

hr{
    clear: both;
}
